[Unit]
Description=gunicorn daemon
Requires=DOMAIN.socket
After=network.target

[Service]
User=toby
Group=www-data
WorkingDirectory=/home/toby/sites/DOMAIN
ExecStart=/home/toby/sites/DOMAIN/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/DOMAIN.sock \
          superlists.wsgi:application

[Install]
WantedBy=multi-user.target
